version: "3.8"

services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog
    ports:
      - "3000:3000"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    labels:
      - "com.example.description=Tech Quests Blog"
      - "com.example.version=1.0.0"
