// Respect user's motion preferences
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  // dark theme
  --bg-dark: hsl(220, 10%, 8%);
  --bg-dark-transparency-top: hsl(220, 10%, 8%, 1);
  --bg-dark-transparency-mid: hsl(220, 10%, 8%, 0.985);
  --bg-dark-transparency-bot: hsl(220, 10%, 8%, 1);
  --bg-2-dark: hsl(220, 10%, 11%);
  --bg-3-dark: hsl(220, 10%, 16%);
  --txt-3-dark: hsl(220, 11%, 35%);
  --txt-2-dark: hsl(220, 11%, 60%);
  --txt-dark: hsl(220, 30%, 80%);
  --txt-0-dark: hsl(220, 45%, 90%);
  --green-dark: hsl(189, 41%, 68%);
  --salmon-dark: hsl(1, 52%, 79%);
  --yellow-dark: hsl(34, 85%, 67%);

  // light theme
  --bg-light: hsl(30, 10%, 92%);
  --bg-light-transparency-top: hsl(30, 10%, 92%, 1);
  --bg-light-transparency-mid: hsl(30, 10%, 92%, 0.95);
  --bg-light-transparency-bot: hsl(30, 10%, 92%, 1);
  --bg-2-light: hsl(40, 11%, 89%);
  --bg-3-light: hsl(45, 10%, 84%);
  --txt-3-light: hsl(39, 11%, 65%);
  --txt-2-light: hsl(40.9, 11%, 40%);
  --txt-light: hsl(40, 29%, 20%);
  --txt-0-light: hsl(39.1, 45%, 10%);
  --green-light: hsl(189, 34%, 41%);
  --salmon-light: hsl(1, 49%, 61%);
  --yellow-light: hsl(32, 77%, 52%);

  font-family: $font-family-base;
  font-weight: 300;
}

:root {
  color-scheme: dark;

  --bg: var(--bg-dark);
  --bg-transparency-top: var(--bg-dark-transparency-bot);
  --bg-transparency-mid: var(--bg-dark-transparency-mid);
  --bg-transparency-bot: var(--bg-dark-transparency-bot);
  --bg-2: var(--bg-2-dark);
  --bg-3: var(--bg-3-dark);
  --txt-3: var(--txt-3-dark);
  --txt-2: var(--txt-2-dark);
  --txt: var(--txt-dark);
  --txt-0: var(--txt-0-dark);
  --green: var(--green-dark);
  --salmon: var(--salmon-dark);
  --yellow: var(--yellow-dark);

  font-family: $font-family-base;
  font-weight: 300;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --bg: var(--bg-light);
    --bg-transparency-top: var(--bg-light-transparency-bot);
    --bg-transparency-mid: var(--bg-light-transparency-mid);
    --bg-transparency-bot: var(--bg-light-transparency-bot);
    --bg-2: var(--bg-2-light);
    --bg-3: var(--bg-3-light);
    --txt-3: var(--txt-3-light);
    --txt-2: var(--txt-2-light);
    --txt: var(--txt-light);
    --txt-0: var(--txt-0-light);
    --green: var(--green-light);
    --salmon: var(--salmon-light);
    --yellow: var(--yellow-light);
  }
}

[color-scheme='dark'] {
  color-scheme: dark;

  --bg: var(--bg-dark);
  --bg-transparency-top: var(--bg-dark-transparency-bot);
  --bg-transparency-mid: var(--bg-dark-transparency-mid);
  --bg-transparency-bot: var(--bg-dark-transparency-bot);
  --bg-2: var(--bg-2-dark);
  --bg-3: var(--bg-3-dark);
  --txt-3: var(--txt-3-dark);
  --txt-2: var(--txt-2-dark);
  --txt: var(--txt-dark);
  --txt-0: var(--txt-0-dark);
  --green: var(--green-dark);
  --salmon: var(--salmon-dark);
  --yellow: var(--yellow-dark);

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --bg: var(--bg-light);
  --bg-transparency-top: var(--bg-light-transparency-bot);
  --bg-transparency-mid: var(--bg-light-transparency-mid);
  --bg-transparency-bot: var(--bg-light-transparency-bot);
  --bg-2: var(--bg-2-light);
  --bg-3: var(--bg-3-light);
  --txt-3: var(--txt-3-light);
  --txt-2: var(--txt-2-light);
  --txt: var(--txt-light);
  --txt-0: var(--txt-0-light);
  --green: var(--green-light);
  --salmon: var(--salmon-light);
  --yellow: var(--yellow-light);
}

html {
  font-size: 100%;
  scrollbar-color: var(--bg-3) transparent;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  * {
    animation-delay: 0ms !important;
    animation-duration: 0ms !important;
    transition-duration: 0ms !important;
  }
}

body {
  @include flex(column);
  background: var(--bg);
  color: var(--txt);
  margin: 0;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

// body {
// 	@include flex(column);
// 	background: var(--bg);
// 	color: var(--txt);
// 	margin: 0;
// 	min-height: 100vh;
// 	height: 100%;
// 	overflow-x: hidden;
// 	padding: 0;
// 	margin: 0;

// 	image-rendering: pixelated;
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)), url('https://kyun.host/assets/nextgen-Iic0tNO8.gif');
// 	background-size: cover; /* Ensures the image covers the entire background */
// 	background-repeat: no-repeat; /* Prevents the image from repeating */
// 	background-position: center; /* Centers the background image */
// 	background-attachment: fixed; /* Ensures the background stays fixed during scroll */
// }

h1,
h2,
h3,
h4 {
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  line-height: 1.3;
  color: var(--txt-0);
  font-variant-ligatures: no-common-ligatures;
}

h1 {
  font-size: $font-xl;
  margin: 0 0 $spacing-3xl 0;
}
h2 {
  font-size: $font-md;
  margin: $spacing-3xl 0 $spacing-base 0;
}
h3 {
  font-size: $font-sm;
  margin: $spacing-xl 0 $spacing-md 0;
}
h4 {
  font-size: $font-xs;
  margin: $spacing-xl 0 $spacing-base 0;
}

code {
  font-family: 'Fira Mono', monospace;
  background: var(--bg-2);
  padding: 0 0.3em;
  font-size: $font-xs;
  // border-radius: 0.25rem;
  font-variant-ligatures: no-contextual;
  color: var(--salmon);
  overflow-wrap: anywhere;
}

pre {
  font-family: 'Fira Mono', monospace;
  background: var(--bg-2) !important;
  padding: $spacing-md;
  // border-radius: 0.5rem;
  overflow-x: auto;
  font-size: $font-xs;
  max-width: calc(100vw - $spacing-5xl);

  code {
    background: none;
    padding: initial;
  }
}

li {
  font-size: $font-xs;
  margin: $spacing-sm 0;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  display: flex;
}

source {
  display: block;
}

button {
  border: none;
  font: inherit;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

p {
  font-size: $font-xs;
  line-height: 1.75;
}

div.description {
  line-height: 1.5;
  color: var(--txt-2);
}

.pfp {
  border-radius: 50%;
  transition: transform 1.5s;

  &:hover {
    cursor: pointer;
    transform: rotate(540deg);
  }
}

// Internal navigation
a.nav {
  position: relative;
  .arrow {
    position: absolute;
    top: -0.02em;
    transform: rotate(-72deg) scale(1, 0);
    transition: $transition-base;
    transform-origin: 50% 53%;
    left: -0.2em;
  }
  .slash {
    display: inline-block;
    transition: $transition-base;
    transform: scale(1, 1) rotate(0deg);
    line-height: 0;
  }
  &:hover {
    .arrow {
      transform: translateX(-0.7ch) rotate(0deg) scale(1, 1);
    }
    .slash {
      transform: translateY(0.01ch) translateX(-0.6ch) scale(1, 1) rotate(64deg);
    }
  }
}

// External links
a.external {
  position: relative;
  .arrow {
    display: inline-block;
    margin-left: 0.4ch;
    transition: $transition-fast;
    color: var(--txt-2);
  }
  &:hover {
    text-decoration: underline;
    .arrow {
      transform: translateY(-0.4ch) translateX(-0.2ch) scale(1, 1) rotate(-30deg);
    }
  }
}

// Internal links
a.link {
  .arrow {
    display: inline-block;
    margin-left: 0.5ch;
    opacity: 0;
    transform: translateX(-0.6em);
    transition: $transition-fast;
  }
  .slash {
    display: inline-block;
    transition: $transition-base;
    transform: scale(1, 1) rotate(0deg);
    line-height: 0;
    opacity: 0;
  }
  &:hover {
    .arrow {
      width: auto;
      transform: translateX(0);
      opacity: 1;
      transform: rotate(0deg) scale(1, 1);
    }
    .slash {
      width: auto;
      opacity: 1;
      transform: translatey(0.05ch) translatex(-1.6ch) scale(1, 1) rotate(64deg);
    }
  }
}

blockquote {
  border-left: 2px solid var(--txt-2);
  padding-left: $spacing-xl;
  margin: $spacing-3xl 0;
  color: var(--txt-2);
}
hr {
  border: none;
  border-top: 2px solid var(--bg-3);
  margin: $spacing-xl 0;
}
strong {
  font-weight: 600;
}

figure {
  margin: 0;
}

.content {
  a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--txt-3);
    text-decoration-thickness: 2px;
    transition: text-decoration-color 0.2s;
    &:hover {
      text-decoration-color: var(--txt);
    }
  }

  picture {
    margin: $spacing-3xl 0;
  }

  figure {
    margin: $spacing-3xl 0;

    picture {
      margin: 0;
    }
  }

  ol,
  ul {
    font-size: $font-xs;
    line-height: 1.75;
  }

  .silent {
    text-decoration: none;
    &:hover {
      &::after {
        content: '#';
      }
    }
  }
}

iconify-icon {
  vertical-align: sub;
  padding-right: 0.75ch;
  font-size: 1.1em;
}

.icon {
  vertical-align: sub;
}

.sub {
  color: var(--txt-2);
}

@media (max-width: $breakpoint-desktop) {
  :root {
    font-size: 87.5%;
  }
}

table {
  width: 100%;
  table-layout: fixed;

  font-family: 'Fira Mono', monospace;
  background: var(--bg-2) !important;
  padding: $spacing-md;
  overflow-x: auto;
  font-size: $font-xs;
  max-width: calc(100vw - $spacing-5xl);

  thead {
    text-align: left;
  }

  tbody td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
